# vue
node_modules/

# java
.idea/
target/
out/

.mvn/
*.iml
*.ipr
*.iws

# 本地测试的yml文件
application-localdev.yml
# 本地虚拟机centos测试的yml文件
application-localdev-centos.yml
# 测试服务器的yml文件
application-localpro.yml

# 官网的index主页面（部署测试服务器）
index(pro).html
