/* Team Section
--------------------------------*/
#team {
  background: #fff;
  padding: 100px 0 80px 0;
}

.teacher .memberbox{
  box-shadow: 0px 0px 5px #e33848;
}


/* grade */
.grade .flag .flag_name{
  color: #000;
  font-weight: 400px;
}

.grade .memberbox{
  border: 2px solid rgb(204, 216, 224);
  height: 200px;
  border-radius: 5%;
  transition: box-shadow .8 linear 0s;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px #18d26e;
}

.grade .memberbox:hover {
  box-shadow:0 0 10px #18d26e;
}

/* 老师边框 */
.teacher .memberbox{
  box-shadow: 0px 0px 5px #e33848;
}

.teacher .memberbox:hover{
  box-shadow: 2px 2px 10px #e33848;
}


.grade .memberbox .imginfobox{
  /* border: 1px solid #000; */
  width: 100%;
  height: 70%;
}

.grade .memberbox .imginfobox p:nth-child(1){
  font-weight: bold;
}

.grade .memberbox .imginfobox .imgbox{
  float: left;
  width: 47%;
  height: 100%;
  /* border: 1px solid #000; */
  padding: 5% ;
}

.grade .memberbox .imginfobox .imgbox img{
  border-radius: 6px;
}

@media screen and (max-width: 960px){
  .grade .memberbox{
    height: 420px;
  }
  .grade .memberbox .imginfobox .imgbox{
    float: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;  /** 垂直轴居中(垂直居中) **/
    padding: 5% 5% 0 5%;
  }

  .grade .memberbox .imginfobox .imgbox img{
    width: 60% !important;
    height: 100% !important;
  }

  .grade .memberbox .imginfobox .infobox{
    /* display: none; */
    float: none !important;
    height: auto !important;
    display: flex;
    flex-direction: column;  /** 垂直轴为主轴 **/
    justify-content: center;  /** 垂直轴居中(垂直居中) **/
    align-items: center; /** 水平居中(垂直居中) **/
    /* position: relative;
    left: 75px;
    top: -30px; */
    width: 100% !important;
    padding: 0;
    font-size: 18px !important;
  }

  .grade .memberbox .imginfobox .infobox p{
    margin: 0 !important;
    margin-bottom: 10px !important;
  }
  .grade .memberbox .descbox{
    display: none;
  }

  .grade .memberbox .imginfobox .infobox p:nth-child(1){
    font-size: 20px !important;
  }
}

.grade .memberbox .imginfobox .imgbox img{
  width: 100%;
  height: 100%;
}

.grade .memberbox .imginfobox .infobox{
  float: left;
  width: 53%;
  height: 100%;
  padding: 3% 0 5% 0;
  font-size: 12px;
}

.grade .memberbox .imginfobox .infobox p:nth-child(1){
  font-size: 13px;
}

.grade .memberbox .imginfobox .infobox p{
  margin: 5% 0 5% 0;
}

.grade .memberbox .descbox{
  width: 110%;
  height: 30%;
  padding: 0 0 0 5%;
  position: relative;
  left: -21px;
  top: -7px;
  color: black;
}

.grade .memberbox .descbox .spanbox{
  font-size:12px;
  /* 利用放大缩小属性 */
  transform: scale(0.83);
  /* padding: 0 1%; */
}



/* 年级 */
.grade{
  margin-bottom: 35px;
}

.grade .flag{
  height: 30px;
  border-left-width: 6px;
  border-left-style: solid;
  border-left-color: red;
  margin-bottom: 20px;
}

.grade .flag .flag_name{
  font-size: 20px;
  margin-left: 8px;
}